@import './variables';

* {
    padding: 0;
    margin: 0;
    
  }

body{
    background: $primary;
     overflow-x:hidden;
}

.navbar{
    background: $secondary;
    padding: 10px;
    &_logo{
        height: 55px;
        max-height: 60px;
        padding: 0 10%;
    }
    &_burger{
        cursor: pointer;
        color: $primary;
    }
}

.section-banner{
    background:$secondary;
    margin-top: 2px;
    &__info{
        min-height: 50vh;
        &-container{
            padding: 50px 40px;
        }
        &-title{
           font-family: $text;
           color: $primary;
           font-size: 2rem;
           left: 170px;
           position: absolute; 
           font-weight: bold; 
        }

        &-subtitle{
            font-family: $title;
            color: $tomato;
            font-size: 8em;
            position: relative;
        }

        &-text{
            font-family: $text;
            font-style: italic;
            font-size: 1rem;
        }

        &-button{
            margin-top: 20px;
            margin-bottom: 10px;
            background: $primary;
            color: white;
            border-radius: 25px;
            padding: 16px 50px;
            font-weight: bold;
            border-style: none;
            &:hover{
                cursor: pointer;
            }
        }
    }

    &__img{
        background-image: url("/img/banner.jpeg");
        background-size: cover;
        height: 80vh;
    }
    
}

.section-work{

    &__info{
        margin-top: 80px;
        &-title{
            font-family: $text;
            color: $white;
            font-size: 2.8em;
         
        }
    
        &-text{
            font-family: $text;
            font-style: italic;
            color: $white;
            font-size: .9rem;
            margin-top: 20px;
        }
    }

    &__wrap{
        margin-top: 40px;
        margin-bottom: 80px;
    }
        
}
    
.section-banner-2{
    background:$light;
    &__info{
        min-height: 60vh;
         &-container{
            padding: 0px 18%;
        }
        &-title{
           font-family: $text;
           color: $primary;
           font-size: 1.2rem;
           font-weight: bold; 
           text-align: center;
        }

        &-subtitle{
            font-family: $title;
            color: $tomato;
            font-size: 2.6em;
        }

        &-text{
            font-family: $text;
            font-style: italic;
        }

        &-button{
            background: $tomato;
            color: white;
            border-radius: 25px;
            padding: 18px 38px;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 10px;
            border-style: none;
            &:hover{
                cursor: pointer;
            }
        }
    }

    &__img{
        background-image: url("/img/banner-2.jpeg");
        background-size: cover;
        height: 80vh;
    }
    
}

.section-banner-3{
    background:$white;
    &__info{
        min-height: 60vh;
         &-container{
            padding: 0px 18%;
        }
        &-title{
           font-family: $text;
           color: $primary;
           font-size: 1.2rem;
           font-weight: bold; 
           text-align: center;
        }

        &-subtitle{
            font-family: $title;
            color: $tomato;
            font-size: 2.6em;
            text-align: center;
        
        }

        &-text{
            font-family: $text;
            font-style: italic;
        }

        &-button{
            background: $tomato;
            color: white;
            border-radius: 25px;
            padding: 18px 38px;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 10px;
            border-style: none;
            &:hover{
                cursor: pointer;
            }
        }
    }

    &__img{
        background-image: url("/img/banner-3.jpeg");
        background-size: cover;
        height: 80vh;
    }
    
}


.section-banner-4{
    background:$white;
    &__info{
        min-height: 60vh;
         &-container{
            padding: 0px 12%;
        }
        &-title{
           font-family: $text;
           color: $primary;
           font-size: 1.2rem;
           font-weight: bold; 
           text-align: center;
        }

        &-subtitle{
            font-family: $title;
            color: $tomato;
            font-size: 2.6em;
            text-align: center;
        
        }

        &-text{
            font-family: $text;
            font-style: italic;
        }

        &-button{
            background: $tomato;
            color: white;
            border-radius: 25px;
            padding: 18px 38px;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 10px;
            border-style: none;
            &:hover{
                cursor: pointer;
            }
        }
    }

    &__img{
        background-image: url("/img/banner-4.jpeg");
        background-size: cover;
        height: 90vh;
    }
    
}

.section-about{
    min-height: 100vh;
    background-image: linear-gradient(to, $primary 57% ,$light 43%);
    &__info{
       
        &-title{
            font-family: $text;
            color: $white;
            font-size: 3em;
            margin-top: 60px;
        }

        &-text{
            font-family: $text;
            font-style: italic;
            color: $white;
            font-size: .9rem;
            margin-top: 20px;
            margin-bottom: 80px;
        }
    }

}

.section-cards{
    background:$secondary;
    min-height: 90vh;
    display: flex;
    align-items: center;
    &-item{
        margin: 20px;
        padding: 30px 0;
        max-width: 360px;
		height: 368px;
        background-color: #fff;
        img{
            width:160px;height: 160px;border-radius: 80%
        }

        &-title{
            font-size: 1.5rem;
            margin: 20px;
            font-family: $text;
        }

        &-text{
            font-size: 1rem;
            margin: 20px;
            font-style: italic;
            font-family: $text;

        }

    }
}


.content_maps{
background: $white;
    &-img{
        background-image: url("/img/banner-5.jpeg");
        background-size: cover;
        height: 450px;
    }
}

.footer-container{
    font-size: .8rem;
    background-color: $dark;
    color: $white;
    padding: 25px 20px;

    p{
        margin: 35px 0;
    }
    a{
        margin: 0 5px;
        color: #e2c178;
    }
}

.item {
	&--text, &--img {
        width: 350px;
		height: 310px;
        margin: 15px;
    }

    &--text{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;      
    }

	&__title {
        font-size: 1.3em;
	}
	
	&__desc {
        margin-top: 15px;
        padding: 0 25px;;
		font-style: italic;
    }
    
    &__title-banner-2{
        color: $primary;
        font-weight: bold;
    }
		
	&--img {
		background-position: center center;
		background-size: cover;
		
		&:nth-child(1) {
			background-image: url(../img/grid-1.jpeg);
		}
		
		&:nth-child(3) {
			background-image: url(../img/grid-3.jpeg);
		}
		
		&:nth-child(5) {
			background-image: url(../img/grid-2.jpeg);
		}
    }

    &--card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 0;
        width: 250px;
		height: 100px;
        background-color: #fff;
    }

    &--img2 {
        width: 250px;
		height: 290px;
		background-position: center center;
		background-size: cover;
		
		&:nth-child(5) {
			background-image: url(../img/grid-4.jpeg);
		}
		
		&:nth-child(6) {
			background-image: url(../img/grid-5.jpeg);
		}
		
		&:nth-child(7) {
			background-image: url(../img/grid-6.jpeg);
        }
        &:nth-child(8) {
			background-image: url(../img/grid-7.jpeg);
		}
	}
    
}
@media only screen and (min-width: 584px){
    .item{
        &--card,&--img2{
            margin: 0 15px;
            height: 200px;
          
        }

        &--card{
            height: 130px;
        }
    }

}

@media only screen and (min-width: 1024px){

    .item{
        &--card,&--img2{
            margin: 0 23px;
            height: 200px;
        }

        &--img2{
            margin-bottom: 100px;
        }

        &--card,{
          height: 130px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
    }

    .section-banner{
        &-2,&-3,&-4{ 
            &__info{
                &-subtitle{
                    font-size: 3.5em;
                }
            }      
           
        }
    }

}
